.idea
java/ddd/.idea
web-scrapping/logs
web-scrapping/results

java/**/.gitignore
java/**/HELP.md
java/**/target/
java/**/!.mvn/wrapper/maven-wrapper.jar
java/**/!**/src/main/**/target/
java/**/!**/src/test/**/target/
java/**/### STS ###
java/**/.apt_generated
java/**/.classpath
java/**/.factorypath
java/**/.project
java/**/.settings
java/**/.springBeans
java/**/.sts4-cache
java/**/### IntelliJ IDEA ###
java/**/.idea
java/**/*.iws
java/**/*.iml
java/**/*.ipr
java/**/### NetBeans ###
java/**/nbproject/private/
java/**/nbbuild/
java/**/dist/
java/**/nbdist/
java/**/.nb-gradle/
java/**/build/
java/**/!**/src/main/**/build/
java/**/!**/src/test/**/build/
java/**/### VS Code ###
java/**/.vscode/
